*{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

.logo{
    margin-left: 20px;
    margin-right: 15px;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-weight:600;
  font-size:30px !important;
 padding: 0px 8px !important;
  border-radius: 5px;
background-image: linear-gradient(to right,rgb(182, 128, 47),rgb(231, 213, 154));   
  box-shadow: 0  0px 6px 6px rgba(0,0,0,.25);
  cursor:pointer;
  border: 0 !important;
}


.carousel-inner {
    width: 100%;
    max-height: 700px !important;
  }

.img{
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
  }

  main{
    padding-bottom: 15px;
  }

  nav,footer{
      height: 65px;
      display: flex;
       justify-content: left;
      align-items: center; 
      background-image: linear-gradient(to left,rgb(146, 221, 192), rgb(214, 191, 126));
  } 
nav>a,footer>a{
    text-decoration: none;
    font-weight: bolder;
    color: black;
    margin-left: 17px;
    margin-right: 15px;

    font-size: 15px;

}
nav>a:hover,footer>a:hover{
    color: rgb(128, 109, 109);
    text-decoration: none;
    cursor: pointer;
}

  .hed{
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
  }

  .movies{
    color: white;
    margin: 35px 35px 0px 35px;
    margin-bottom: 0 !important;
      
  }
  .card {
    width: 13rem;
    height: 13rem;
    background-color: black;
    margin-bottom: 15px;
    margin-right: 15px;
  }
  .tales {
    width: 100%;
    height: 550px;
    object-fit: fill;
  }

.des{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
    background-color:  rgba(0, 0, 0, 0.452);
    padding: 5px;
    margin-bottom: 0;
}
.des > h5,h6{
    background: none;
}
.poster{
    margin: 10px;
    margin-bottom: 0 !important;
  }


  